@layer components {
  .input {
    @apply w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-green-600 focus:outline-none transition;
  }
}
